<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <h6 class="text-center pb-5">Copyright Jannamer Corporation 2023</h6>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/order/lib/easing/easing.min.js"></script>
<script src="/order/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/order/mail/jqBootstrapValidation.min.js"></script>
<script src="/order/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/order/js/main.js"></script>
</body>

</html>