
    
    <%- include('include/header') %>

    
                                                   <!-- Project statustic start -->
                                                   <div class="col-xl-12">
                                                    <div class="card proj-progress-card">
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-xl-3 col-md-6 bord bords">
                                                                    <h6 class="t-inc">TOTAL OVER ALL INCOME</h6>
                                                                    <h5 class="m-b-30 f-w-700">₱54,532,555</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-red" style="width:25%"></div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-xl-3 col-md-6 bord bords">
                                                                    <h6 class="t-buy">TOTAL OVER ALL BUYING PRICE</h6>
                                                                    <h5 class="m-b-30 f-w-700">₱434,569</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-blue" style="width:65%"></div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-xl-3 col-md-6 bord bords">
                                                                    <h6 class="t-sack">TOTAL OVER ALL RICE SACKS</h6>
                                                                    <h5 class="m-b-30 f-w-700">344,545</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-green" style="width:85%"></div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-xl-3 col-md-6 bord bords">
                                                                    <h6 class="t-ord">TOTAL OVER ALL ORDERS</h6>
                                                                    <h5 class="m-b-30 f-w-700">365,543</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-yellow" style="width:45%"></div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Project statustic end -->

                                                
                                          


    <%- include('include/footer') %>