<%- include('include/header') %>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <!-- Basic table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Orders History</h5>
                        <!-- <span>use class <code>table</code> inside table element</span> -->
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="tbl-rice">#</th>
                                        <th class="tbl-rice">CUSTUMER NAME</th>
                                        <th class="tbl-rice">ADDRESS</th>
                                        <th class="tbl-rice">ITEM ORDERS</th>
                                        <th class="tbl-rice">QUANTITY/sacks</th>
                                        <th class="tbl-rice">PRICE/sacks</th>
                                        <th class="tbl-rice">TOTAL PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Joseph green</td>
                                        <td>Pasay City</td>
                                        <td>(60KLS)EJ Rice</td>
                                        <td>14</td>
                                        <td>1,135</td>
                                        <td>5,435,340</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Rick Wick</td>
                                        <td>Cavite City</td>
                                        <td>(12KLS)Rice</td>
                                        <td>2</td>
                                        <td>1,110</td>
                                        <td>4,324,320</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>John Wick</td>
                                        <td>Bacao City</td>
                                        <td>(50KLS)Preciuos Denorado</td>
                                        <td>10</td>
                                        <td>1,133</td>
                                        <td>63,430</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Basic table card end -->

             

<%- include('include/footer') %>