<%- include('include/header') %>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                
                                                   <!-- Project statustic start -->
                                                   <div class="col-xl-12">
                                                    <div class="card proj-progress-card">
                                                        <div class="card-block">
                                                            <div class="row">
                                                                <div class="col-xl-3 col-md-6 bord">
                                                                    <h6 class="t-inc">TOTAL INCOME</h6>
                                                                    <hr>
                                                                    <h5 class="m-b-30 f-w-700">₱54,532,555</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-red" style="width:25%"></div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-xl-3 col-md-6 bord">
                                                                    <h6 class="t-buy">TOTAL BUYING PRICE</h6>
                                                                    <hr>
                                                                    <h5 class="m-b-30 f-w-700">₱434,569</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-blue" style="width:65%"></div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-xl-3 col-md-6 bord">
                                                                    <h6 class="t-sack">TOTAL SACKS</h6>
                                                                    <hr>
                                                                    <h5 class="m-b-30 f-w-700">344,545</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-green" style="width:85%"></div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-xl-3 col-md-6 bord">
                                                                    <h6 class="t-ord">TOTAL ORDER</h6>
                                                                    <hr>
                                                                    <h5 class="m-b-30 f-w-700">365,543</h5>
                                                                    <!-- <div class="progress">
                                                                        <div class="progress-bar bg-c-yellow" style="width:45%"></div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Project statustic end -->

                <!-- Basic table card start -->
                <div class="card">
                    <div class="card-header">
                        <h5>Sales History</h5>
                        <!-- <span>use class <code>table</code> inside table element</span> -->
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="tbl-rice">#</th>
                                        <th class="tbl-rice">ITEM</th>
                                        <th class="tbl-rice">TYPE</th>
                                        <th class="tbl-rice">SACKS</th>
                                        <th class="tbl-rice">PREFERED PRICE</th>
                                        <th class="tbl-rice">TOTAL SALES</th>
                                        <th class="tbl-rice">TOTAL PREF. PRICE</th>
                                        <th class="tbl-rice">TOTAL PROFIT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>(10KLS)EJ Rice</td>
                                        <td>10kg</td>
                                        <td>35</td>
                                        <td>0</td>
                                        <td>15,400</td>
                                        <td>0</td>
                                        <td>15,400</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>(10KLS)Rice</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>(10KLS)Preciuos Denorado</td>
                                        <td>10kg</td>
                                        <td>33</td>
                                        <td>0</td>
                                        <td>16,400</td>
                                        <td>0</td>
                                        <td>16,400</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Basic table card end -->

                <div class="pcoded-inner-content">
                    <!-- Main-body start -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- Page-body start -->
                            <div class="page-body">
                                <!-- Basic table card start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Total By Date</h5>
                                        <!-- <span>use class <code>table</code> inside table element</span> -->
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                                <li><i class="fa fa-minus minimize-card"></i></li>
                                                <li><i class="fa fa-refresh reload-card"></i></li>
                                                <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="tbl-rice">DATE</th>
                                                        <th class="tbl-rice">ITEM</th>
                                                        <th class="tbl-rice">TYPE</th>
                                                        <th class="tbl-rice">SACKS</th>
                                                        <th class="tbl-rice">PREFERED PRICE</th>
                                                        <th class="tbl-rice">TOTAL SALES</th>
                                                        <th class="tbl-rice">TOTAL PREF. PRICE</th>
                                                        <th class="tbl-rice">TOTAL PROFIT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Jan,10 2022</th>
                                                        <td>(10KLS)EJ Rice</td>
                                                        <td>10kg</td>
                                                        <td>35</td>
                                                        <td>0</td>
                                                        <td>15,400</td>
                                                        <td>0</td>
                                                        <td>15,400</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Jan,6 2022</th>
                                                        <td>(10KLS)Rice</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Jan,9 2022</th>
                                                        <td>(10KLS)Preciuos Denorado</td>
                                                        <td>10kg</td>
                                                        <td>33</td>
                                                        <td>0</td>
                                                        <td>16,400</td>
                                                        <td>0</td>
                                                        <td>16,400</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Basic table card end -->
                                <div class="pcoded-inner-content">
                                    <!-- Main-body start -->
                                    <div class="main-body">
                                        <div class="page-wrapper">
                                            <!-- Page-body start -->
                                            <div class="page-body">
                                                <!-- Basic table card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Grand Total</h5>
                                                        <!-- <span>use class <code>table</code> inside table element</span> -->
                                                        <div class="card-header-right">
                                                            <ul class="list-unstyled card-option">
                                                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                                                <li><i class="fa fa-minus minimize-card"></i></li>
                                                                <li><i class="fa fa-refresh reload-card"></i></li>
                                                                <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-block table-border-style">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="tbl-rice">#</th>
                                                                        <th class="tbl-rice">ITEM</th>
                                                                       
                                                                        <th class="tbl-rice">SACKS</th>
                                                                        <th class="tbl-rice">PRICE/sacks</th>
                                                                        <th class="tbl-rice">TOTAL SALES</th>
                                                                        <th class="tbl-rice">BUYING PRICE</th>
                                                                        <th class="tbl-rice">TOTAL PROFIT</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="row">1</th>
                                                                        <td>(10KLS)EJ Rice</td>
                                                                        <td>10kg</td>
                                                                        <td>500</td>
                                                                        <td>0</td>
                                                                        <td>15,400</td>
                                                                        <td>654654</td>
                                                                       
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">2</th>
                                                                        <td>(10KLS)Rice</td>
                                                                        <td>500</td>
                                                                        <td>0</td>
                                                                        <td>0</td>
                                                                        <td>0</td>
                                                                        <td>543543</td>
                                                                     
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="row">3</th>
                                                                        <td>(10KLS)Preciuos Denorado</td>
                                                                        <td>10kg</td>
                                                                        <td>330</td>
                                                                        <td>0</td>
                                                                        <td>16,400</td>
                                                                        <td>432432</td>
                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Basic table card end -->



                                            <!-- <h1>test post</h1>
                                            <form action="/admin/api/customerHis" method="post">
                                                <input type="text" name="chName">
                                                <input type="text" name="chDate">
                                                <button type="submit">button</button>
                                            </form> -->

<%- include('include/footer') %>