<%- include("include/header.ejs") %>
<%- include("include/topbar.ejs") %>

<div class="container d-flex flex-column align-items-center">
    <!-- 

        first_name
        last_name
        address_1
        address_2
        email
        password
        mobile_no
        city
        zipcode
     -->
    <div class="border border-dark border-5 p-5 w-75 vw-75 rounded">
        <!-- First Name and Last Name -->
        <div class="row row-cols-2">
            <div class="col">
                <h1>John Doe</h1>
            </div>
            <div class="col text-end">
                <a href=""><i class="bi bi-pencil-square h2 me-3"></i></a>
                <a href="" target="" rel=""><i class="bi bi-box-arrow-left h2"></i></a>
            </div>
        </div>
        <p class="h6 m-3"><i class="bi bi-cursor"></i> Test Address</p>
        <p class="h6 m-3"><i class="bi bi-envelope"></i> <span class="font-italic">test@email.com</span></p>
        <p class="h6 m-3"><i class="bi bi-phone"></i> 09999999999 </p>
        <p class="h6 m-3"><i class="bi bi-mailbox"></i> 4107</p>
        <p class="h6 m-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
                <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
            </svg> 
            Quezon City
        </p>
    </div>
</div>
<%- include("include/footer.ejs") %>