<div class="container-fluid py-5" id="imported-rice-special">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Our Products</p>
            <h1>Imported Rice Special</h1>
            <p class="mb-5">Special Imported Rice in PH</p>
        </div>
        
        <div class="row gx-5">
            <div class="slick container-fluid">

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.1s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/Imported Rice Special/1.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Master Chef Hasmin</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.3s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/Imported Rice Special/2.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Perfect Grain Hasmin</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.5s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/Imported Rice Special/3.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Master Chow Hasmin</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.7s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/Imported Rice Special/4.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Diamond Hasmin</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>