<div class="container-fluid py-5" id="local-rice">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Our Products</p>
            <h1>Local Rice</h1>
            <p class="mb-5">Regular rice in market. Affordable and cheapest.</p>
        </div>
        
        <div class="row gx-5">
            <div class="slick container-fluid">

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.1s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/1.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Camila Local Rice Grains</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.3s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/2.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Premium Grade Jedrick Rice</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.5s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/3.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Premium Grade Special Mindoro Rice</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.7s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/4.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Sta. Rita Rice Mill Sinandomeng</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="0.9s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/5.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >RMS King Philip Poblacion Bansud</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="1.1s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/6.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Theo Special Denorado</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="1.3s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/7.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Precious Special Rice Mindoro Denorado</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="1.5s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/8.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Precious Special Rice Mindoro Denorado</a>
                            <span class="text-primary me-1">5.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="1.7s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/9.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Fuji Brand Special Rice</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="1.9s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/10.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Mapayap Whole Grain Grade No. 1</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="2.1s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/11.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Queen Victoria Whole Grain Rice</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="2.3s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/12.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Queen Victoria Whole Grain Rice</a>
                            <span class="text-primary me-1">5.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="2.5s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/13.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Ej Rice Special Rice Premium</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="2.7s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/14.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Prime Supreme Maharlika</a>
                            <span class="text-primary me-1">25.00 KG</span>
                        </div>
                    </div>
                </div>

                <div class="item wow fadeInUp mx-2" style="margin: 1em;" data-wow-delay="2.9s">
                    <div class="product-item p-5" style="max-height: 500px;">
                        <div class="position-relative" style="display: flex; justify-content: center;">
                            <img loading="lazy" class="img-fluid" src="img/jannamer-new/rice/LOCAL RICE/15.png" alt="">
                            <!-- <div class="product-overlay">
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-link"></i></a>
                                <a class="btn btn-square btn-secondary rounded-circle m-1" ><i class="bi bi-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="text-center p-2">
                            <a class="d-block h6" >Prime Supreme Maharlika</a>
                            <span class="text-primary me-1">5.00 KG</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>